@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import '../node_modules/@mdxeditor/editor/dist/style.css';


.prose {
    font-family: "Inter", sans-serif;
    position: relative;
    width: max-content;
}

.prose strong {
    font-weight: 600;
}